# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Migrations cache
**/__pycache__/